<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="get" class="create-form">
    <div>
        <label>Nombre de Usuario</label>
        <input type="login" name="loginUsuario" id="loginUsuario" placeholder="Ingresa tu usuario" >
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" id="password" placeholder="Aca por favor tu password!">
    </div>
    <div>
        <button type="login" value="Ingresar y volver al Home"><a href="/">Guardar y volver al Home</a></button>
    </div>
</form>
</body>
</html>